@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "symbols-nerds";
    src: url("../fonts/symbols-nerds.woff") format("woff"), url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before, [class*=" icon-"]::before {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    font-weight: normal;
    line-height: 1em;
    font-family: "symbols-nerds";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;
    speak: none;
}

.icon-basket::before {
    content: "\62";
}


/* "b" */

.icon-facebook::before {
    content: "\66";
}


/* "f" */

.icon-twitter::before {
    content: "\74";
}


/* "t" */

.icon-vk::before {
    content: "\76";
}


/* "v" */

.icon-up-dir::before {
    content: "\25b2";
}


/* "▲" */

.icon-down-dir::before {
    content: "\25bc";
}


/* "▼" */

.icon-circle::before {
    content: "\25cb";
}


/* "○" */

.icon-circle-dot::before {
    content: "\25cf";
}


/* "●" */

.icon-check-off::before {
    content: "\2610";
}


/* "☐" */

.icon-check-on::before {
    content: "\2611";
}


/* "☑" */

.icon-instagramm::before {
    content: "📷";
}


/* "\1f4f7" */

body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    background-color: #ffffff;
}

.main-header {
    background-color: #eeeeee;
    padding-top: 25px;
    margin-bottom: 80px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 880px;
    padding: 0 10px;
    margin: 0 auto;
}


/*НАВИГАЦИЯ И ЛОГО*/

.logo {
    float: left;
}

.navigation {
    position: relative;
    z-index: 10;
    min-height: 60px;
    margin-bottom: 45px;
}

.main-navigation {
    float: right;
    max-width: 720px;
}

.main-navigation ul {
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.main-navigation li {
    vertical-align: top;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
}

.main-navigation a {
    display: block;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    min-width: 50px;
    padding-top: 25px;
    margin-right: 45px;
    white-space: nowrap;
}

.main-navigation .current {
    border-bottom: 2px solid #fb565a;
}

.main-navigation a:hover {
    color: #fb565a;
}

.main-navigation a:active {
    color: #ababab;
}

.basket:hover .icon-basket {
    color: #fb565a;
    opacity: 0.7;
}

.basket:active .icon-basket {
    color: #ababab;
    opacity: 0.3;
}

.main-navigation .basket {
    position: relative;
    margin-right: 0;
    margin-left: 15px;
    text-indent: -4px;
}

.main-navigation .icon-basket {
    margin-right: 10px;
    opacity: 0.4;
    font-size: 16px;
}


/*СЛАЙДЕР*/

.slider {
    position: relative;

}

input[type="radio"] {
    display: none;
}

.slide {
    float: left;
    width: 880px;
}

.slider-content {
    width: 470px;
    padding-top: 30px;
    padding-bottom: 80px;
}

.slides .slide:nth-child(1) {
    background-image: url("../img/slide-image1.png");
    background-repeat: no-repeat;
    background-position: 542px 8px;
}

.slides .slide:nth-child(2) {
    background-image: url("../img/slide-image2.png");
    background-repeat: no-repeat;
    background-position: 640px 12px;
}

.slides .slide:nth-child(3) {
    background-image: url("../img/slide-image3.png");
    background-repeat: no-repeat;
    background-position: 535px -10px;
}

.slider-controls {
    position: absolute;
    width: 220px;
	bottom: 1px;
    margin-bottom: 94px;
    height: 7px;
    left: 50%;
    margin-left: -110px;
    text-align: center;
    z-index: 5;
}

.slider-btn {
    display: inline-block;
    vertical-align: top;
    width: 4px;
    height: 4px;
    background-color: white;
    border: 3px solid white;
    border-radius: 50%;
    margin-right: 9px;
    cursor: pointer;
}

#slider-btn1:checked~.slider-controls label[for="slider-btn1"], #slider-btn2:checked~.slider-controls label[for="slider-btn2"], #slider-btn3:checked~.slider-controls label[for="slider-btn3"] {
    background-color: #c1c1c1;
}

#slider-btn1:not(:checked)~.slides .slide:nth-child(1), #slider-btn2:not(:checked)~.slides .slide:nth-child(2), #slider-btn3:not(:checked)~.slides .slide:nth-child(3) {
    display: none;
}

.slider-content-title {
    padding: 0;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 550;
    margin-bottom: 18px;
    margin-top: 0;
}

.slider-content p {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    margin-bottom: 30px;
}

.btn {
    display: block;
    padding: 10px 0;
    text-align: center;
    background-color: #fb565a;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    border-radius: 3px;
}

.slide-btn {
    width: 240px;
}

.btn:hover {
    background-color: #d6494d;
}

.btn:active {
    background-color: #b63538;
    border-top: 3px solid #9b2d30;
    height: 14.6px;
}


/*Услуги*/

.service {
    width: 240px;
    float: left;
    margin-right: 80px;
    min-height: 300px;

}

.service:nth-child(3n) {
    margin-right: 0;
}

.services {
    margin-bottom: 80px;
}

.service img {
    width: 240px;
    height: 124px;
    margin-bottom: 20px;
}

.service-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.service p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 28px;
}

.service-btn {
    width: 140px;
}

.service:nth-child(2) .service-btn {
    background-color: #00ca74;
}

.service:nth-child(2) .service-btn:hover {
    background-color: #01a25e;
}

.service:nth-child(2) .service-btn:active {
    background-color: #009053;
    border-top: 3px solid #007b47;
}

.service:nth-child(3) .service-btn {
    background-color: #efc84a;
}

.service:nth-child(3) .service-btn:hover {
    background-color: #d6ae2c;
}

.service:nth-child(3) .service-btn:active {
    background-color: #c09b24;
    border-top: 3px solid #a3841f;
}


/*ОПИСАНИЕ*/

.description {
    padding-top: 72px;
    padding-bottom: 72px;
    border-top: 2px solid #eeeeee;
    background-image: url("../img/description-logo.png");
    background-position: 640px 60px;
    background-repeat: no-repeat;
}

.main-description {
    width: 590px;
}

.description .column-left {
    width: 640px;
    float: left;
}

.description .column-right {
    width: 240px;
    float: right;
}

h2 {
    margin: 0;
    padding: 0;
}

.description h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 550;
    margin-bottom: 18px;
}

.description p {
    margin-bottom: 40px;
}

.list-title {
    display: inline-block;
	vertical-align: top;
    text-transform: uppercase;
    margin-bottom: 25px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    margin-bottom: 20px;
}

.unordinary-list li {
    position: relative;
    padding-left: 37px;
	padding-right: 20px;
}

.unordinary-list li::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    vertical-align: middle;
    margin-right: 12px;
    top: 10px;
    left: 0;
}

.unordinary-list li:last-child {
    margin-bottom: 0;
}


/*ПРИМЕРЫ РАБОТ -----------------------------*/

.work-examples {
    padding-top: 42px;
    padding-bottom: 28px;
    font-size: 0;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 85px;
}

.work-example-logo {
    display: inline-block;
    width: 229px;
    margin-right: 80px;
    padding-left: 11px;
    font-size: 16px;
    vertical-align: middle;
    opacity: .2;
}

.work-examples .work-example-logo:nth-child(3n) {
    margin-right: 0;
}

.work-example-logo:hover {
    opacity: 1;
}

.work-example-logo:active {
    opacity: 1;
}


/*Карта --------------------------------------------*/

.map {
    position: relative;
    width: 100%;
}

.map-content {
    position: absolute;
    ;
    width: 250px;
    background-color: white;
    padding: 27px 15px;
    left: 280px;
    top: 88px;
}

.map-content .map-title {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.map-content p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.map-btn {
    border-radius: 5px;
    margin-top: 22px;
}


/*ФУТЕР------------------------------------*/

.main-footer {
    padding: 72px 0;
    font-size: 0;
}

.social-buttons {
    width: 320px;
    float: left;

}

.footer-content {
    width: 560px;
    float: right;
}

.footer-content-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 450;
    padding: 0;
    margin: 0;
}

.footer-content p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.social-button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 62px;
    height: 62px;
	text-decoration: none;
    border-radius: 50%;
    background-color: #e1e1e1;
    margin-right: 28px;
    font-size: 16px;
    margin-bottom: 10px;
}

.social-button:hover {
    background-color: #fb565a;
}

.social-button:active {
    height: 60px;
    border-top: 2px solid #9b2d30;
    background-color: #d6494d;
}

.social-button::before {
    position: absolute;
    font-family: "symbols-nerds";
    font-size: 23px;
    line-height: 16px;
    color: white;
}

.vk-button::before {
    content: "\76";
    left: 18.5px;
    top: 23px;
}

.facebook-button::before {
    content: "\66";
    left: 24.5px;
    top: 23px;
}

.instagramm-button::before {
    content: "📷";
    top: 23px;
    left: 21px;
}


/*----------------------ФОРМА ОТПРАВКИ ПИСЬМА---------------*/

.contact-module {
    display: none;
    box-sizing: border-box;
    position: fixed;
    width: 630px;
    min-height: 415px;
    bottom: 250px;
    left: 637px;
    padding: 50px 90px 50px 80px;
    background-color: white;
    z-index: 9999;
    box-shadow: 10px 20px 60px 15px #5c5a5a;
}

.contact-module-show {
    display: block;
}

.contact-module input {
    box-sizing: border-box;
    border: 2px solid #d7dcde;
    outline: none;
    margin-top: 8px;
    padding: 5px 15px;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    width: 220px;
}

.contact-module input:hover {
    border: 2px solid #a2a9ac;
}

.contact-module input:focus {
    border: 2px solid #56bffb;
}

.exit {
    position: absolute;
    width: 41px;
    height: 41px;
    background-color: #fb565a;
    border-radius: 50%;
    top: 7px;
    right: 7px;
    background-image: url("../img/exit-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.name-email {
    margin-bottom: 20px;
}

.your-name {
    float: left;
    width: 220px;
    margin-right: 20px;
}

.contact-module label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}

.your-name input {
    max-width: 215px;
}

.your-email {
    float: right;
    width: 220px;
}

.your-email input {
    max-width: 215px;
}

::-webkit-input-placeholder {
    color: black;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: black;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: black;
}

:-ms-input-placeholder {
    color: black;
}

placeholder {
	color: black;
}

.letter-content input {
    width: 457px;
    padding-bottom: 85px;
    margin-bottom: 50px;
    vertical-align: top;
}


/************СТИЛИЗАЦИЯ  СТРАНИЦЫ ПРЕДОСТАВЛЯЕМЫХ ТОВАРОВ********************/

.header-title {
    padding-top: 35px;
    padding-bottom: 85px;
    padding-left: 110px;
    padding-right: 110px;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

.products-left-column {
    width: 240px;
    margin-right: 80px;
    float: left;
}

.products-right-column {
    width: 560px;
    float: right;
}

.price-filter {
    margin-bottom: 48px;
}

.filter-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.range-controls {
    position: relative;
    height: 80px;
    border-radius: 3px;
    background-color: #f1f1f1;
    margin-bottom: 12px;
}

.scale {
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #d7dcde;
    top: 39px;
    left: 20px;
}

.bar {
    height: 2px;
    width: 151px;
    background-color: #00ca74;
}

.toggle {
    position: absolute;
    top: 30px;
    display: inline-block;
	vertical-align: top;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid white;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0 #cfcfcf;
    cursor: pointer;
}

.min-toggle {
    left: 20px;
}

.max-toggle {
    right: 60px;
}

.price-controls {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.price-controls label {
    margin: 0;
}

.price-controls input {
    box-sizing: border-box;
    margin: 0;
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px 0;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    font-family: "Roboto";
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    width: 80px;
    text-align: center;
}

.price-controls input, .price-controls input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 20px;
}

.max-price input {
    margin-right: 0;
}

.type-filter {
    margin-bottom: 48px;
}

.type-filter label {
    position: relative;
    display: block;
    padding-left: 35px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.type-filter label::before {
    position: absolute;
    font-family: "symbols-nerds";
    content: "\25cb";
    left: 0;
    font-size: 28px;
    line-height: 20px;
    color: #c1c1c1;
    cursor: pointer;
}

.type-filter label:hover::before {
    color: #b5b5b5;
}

.type-filter-switch:checked+label::before {
    content: "\25cf";
}

.features-filter {
    margin-bottom: 58px;
}

.features-filter label {
    position: relative;
    display: block;
    padding-left: 35px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.features-filter label::before {
    position: absolute;
    font-family: "symbols-nerds";
    content: "\2610";
    left: 0;
    font-size: 28px;
    line-height: 20px;
    color: #c1c1c1;
    cursor: pointer;
}

.features-filter label:hover::before {
    color: #b5b5b5;
}

.features-filter-switch:checked+label::before {
    content: "\2611";
}

.filter-btn {
    display: block;
    min-width: 160px;
    padding: 10px 0;
	border: none;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin-bottom: 50px;
    outline: none;
	box-shadow: none;
}

.filter-btn:hover {
    background-color: #e5e5e5;
}

.filter-btn:active {
    padding-bottom: 7px;
    border-top: 3px solid #b5b5b5;
}


/*********Стилизация навигации каталога макетов************/

.text-controls {
    float: left;
    font-size: 0;
}

.text-controls span {
    font-size: 12px;
    line-height: 18px;
}

.figure-controls {
    float: right;
}

.products-sorting {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.products-sorting-btn {
    display: inline-block;
	vertical-align: top;
    font-size: 12px;
    margin-left: 40px;
    text-decoration: none;
    color: black;
    opacity: .3;
    border-bottom: 1px dotted #00ca74;
}

.products-sorting-btn:hover {
    opacity: 1;
    border-bottom: 1px solid #00ca74;
}

.products-sorting-btn:active {
    opacity: 1;
    border-bottom: none;
}

.triangles::before {
    font-family: "symbols-nerds";
    font-size: 23px;
    line-height: 20px;
    text-decoration: none;
    color: #c1c1c1;
    text-transform: none;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: auto;
}

.triangles:hover::before {
    color: #b5b5b5;
}

.triangles:active::before {
    color: #000000;
}

.icon-down-dir::before {
    color: #00ca74;
    margin-right: 7px;
}


/*************Стилизация самого католого товаров*************/

.products-list {
    font-size: 0;
}

.product {
    position: relative;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    min-height: 270px;
    width: 240px;
    margin-right: 80px;
    margin-bottom: 80px;
}

.product img {
    width: 240px;
    height: 240px;
}

.product:hover .product-popup {
    display: block;
}

.product:hover .image-header {
    opacity: 1;
}

.products-list .product:nth-child(2n) {
    margin-right: 0;
}

.image-header {
    position: relative;
    vertical-align: middle;
    height: 30px;
    background-color: #797979;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    opacity: .1;
}

.image-header-dots {
    position: absolute;
    left: 12px;
    top: 10px;
    font-size: 0;
}

.image-header-dots i {
    display: inline-block;
	vertical-align: top;
    font-size: 18px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-left: 7px;
}

.product-popup {
    box-sizing: border-box;
    display: none;
    position: absolute;
    left: 20px;
    top: 50px;
    width: 200px;
    min-height: 200px;
    background-color: white;
    text-align: center;
    padding: 0 20px;
    transition: 0.3s;
}

.popup-title {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 12px;
}

.product-popup p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
}

.popup-btn {
    margin: 0 auto;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 30px;
}

.products-list .product:nth-child(4) .product-popup p {
    margin-bottom: 15px;
    margin-top: 0;
}

.products-list .product:nth-child(4) .product-popup .popup-title {
    margin-bottom: 5px;
}


/*****************Стилизация кнопок пагинации******************/

.products-pagination {
    margin-bottom: 80px;
}

.products-pagination a {
    display: inline-block;
	vertical-align: top;
    min-width: 38px;
    margin-right: 10px;
    padding: 10px 0;
    background-color: #f1f1f1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: black;
    border-radius: 3px;
}

.products-pagination .active {
    background-color: #ffffff;
    min-width: 34px;
    padding: 8px 0;
    border: 2px solid #f1f1f1;
    cursor: default;
}

.products-pagination .next {
    min-width: 140px;
}

.products-pagination a:hover {
    background-color: #e5e5e5;
}

.products-pagination a:active {
    padding-top: 7px;
    border-top: 3px solid #b5b5b5;
    background-color: #d5d5d5;
}
